---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
---

<BaseLayout title={title} description={description} >
  <div class="container">
    <h1>About</h1>
    <hr  />
    <article class="mt-8">
      <p class="">This is my philosophy.</p>
      <img src="/images/phil.jpeg" alt="attitude"  loading="lazy" class="rounded w-3/5 block h-auto mx-auto my-12" />
    </article>
    </div>
</BaseLayout>

