---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
---

<BaseLayout title={title} description={description} >
  <div class="container">
    <h1>About</h1>
    <hr  />
    <article class="mt-8">
      <p>Hello</p>
    </article>
    </div>
</BaseLayout>

