---
import { Icon } from 'astro-icon'
---

<p class="flex items-center justify-center gap-x-2">
    <a href="https://twitter.com/zhugangliet" target="_blank"><Icon name="tabler:brand-twitter" /> </a> 
    <a href="mailto:pyrrhonianpig@gmail.com" class="text-zinc-300"><Icon name="tabler:mail" /></a> 
</p>

<style>
    [astro-icon]{
  @apply w-6 text-teal-900 text-center;
 }
</style>